.card {
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    width: 240px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;
    margin: 1rem;
}

.card-img {
    width: 75%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-info {
    padding: 1rem;
}

.nome {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.time-pos {
    font-style: italic;
    color: #ccc;
    margin-bottom: 0.5rem;
}

.habilidade {
    background-color: white;
    color: #007bff;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
}
